.search-container {
  margin-bottom: 1rem;
}

#search {
  background-color: #eee;
  border: none;
  border-radius: 5px;
  display: block;
  outline: none;
  padding: 0.5rem;
  transition: box-shadow 0.4s;
}

#search:focus,
#search:hover {
  box-shadow: 0 0 2px 2px dodgerblue;
}

.stocked-container {
  margin-top: 0.5rem;
}

label[for="stocked"] {
  font-size: 12px;
}

#stocked {
  margin-left: 0.25rem;
}

#price {
  margin-top: 0.5rem;
  text-align: center;
}
